* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    
}

/* id= # class= . */

#aula {
    text-align: center;
    font-family: Arial;
    color: rgb(0, 0, 0);
}

.dados {
    height: 50px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: system-ui;
    font-size: medium;
}

#botao{
    background-color: white;
    color: black;
    font-size: x-large;
    font-family: Arial;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    width: 250px;
    border: 2px solid black;
}

  #botao:hover {
     background-color: black;
     color: white;
     font-size: x-large;
     font-family: Arial;
     border-radius: 10px;
     padding: 10px;
     height: 50px;
     width: 250px;
     border: 2px solid white;
}