* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* id=# class=. */

.div {
    text-align: left;

    transition: 0.3s;
}

.div:hover {
    text-align: left;
    transition: 0.3s;
}

#img1 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

#img1:hover {
    -webkit-filter: none;
    filter:blur(1px);
}

