/* id=#  class=. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#display {
    height: 50px;
    width: 300px;
    color: black;
    background-color: white;
    font-family: Arial;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
}

#div {
    margin-top: 100px;
    text-align: center;
}

.numeros {
    font-size: x-large;
    width: 4vw;
    color: black;
    background-color: white;
}

#numero0 {
    width: 4vw;
    font-size: x-large;
    color: black;
    background-color: white;
}

.operacoes {
    font-size: x-large;
    width: 3vw;
    color: orange;
    background-color: black;
}