/* id=#  class=. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#display {
    height: 50px;
    width: 300px;
    color: black;
    background-color: white;
    font-family: Arial;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
}

#div1 {
    margin-top: 100px;
    text-align: center;
}

#div2 {
    margin-top: 15px;
    text-align: center;
}

.numeros {
    font-size: x-large;
    width: 40px;
    color: black;
    background-color: white;
}

#numero0 {
    width: 128px;
    font-size: x-large;
    color: black;
    background-color: white;
}

.operacoes {
    font-size: x-large;
    width: 40px;
    color: orange;
    background-color: black;
}

#igual {
    width: 200px;
    height: 50px;
    font-size: x-large;
    color: orange;
    background-color: black;
}

#limpar {
    font-size: x-large;
    width: 50px;
    height: 50px;
    color: orange;
    background-color: black;
}