* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 1rem;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#info div {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
}

#info div img {
    width: 100%;
    height: 100%;
}